[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"
mypy = "mypy ."

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
"flake8" = "~=3.5"
"flake8-commas" = "*"
"flake8-import-order" = "*"
"flake8-mypy" = "*"
"flake8-quotes" = "*"
"flake8-tuple" = "*"
"mypy" = "*"
"pep8-naming" = "*"

[requires]
python_version = "3.5"
