[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"
mypy = "mypy ."
docs = "sphinx-build -M html docs/source docs/build"

[packages]
e1839a8 = {path = ".",editable = true}
pyopenssl = "*"

[dev-packages]
"flake8" = "~=3.5"
"flake8-commas" = "*"
"flake8-import-order" = "*"
"flake8-mypy" = "*"
"flake8-quotes" = "*"
"flake8-tuple" = "*"
"mypy" = "*"
"pep8-naming" = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
isort = "*"

[requires]
python_version = "3.5"
