[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"
mypy = "mypy ."
docs = "sphinx-build -M html docs/source docs/build"

[packages]
py-fido = {path = ".",editable = true}

[dev-packages]
flake8 = "~=3.5"
flake8-bugbear = "*"
flake8-mypy = "*"
flake8-quotes = "*"
flake8-tuple = "*"
isort = "*"
mypy = "*"
pep8-naming = "*"
pytest = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.5"
